pages/products.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="company">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="company-name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="image"/>
                    <xs:element type="xs:string" name="stock-status"/>
                    <xs:element type="xs:date" name="expiry-date"/>
                    <xs:element type="xs:float" name="unit-price"/>
                    <xs:element type="xs:float" name="ratings"/>
                  </xs:sequence>
                  <xs:attribute name="code" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
